<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather APP</title>
  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@900&display=swap"
    rel="stylesheet">
  <!-- Bootstrap link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!-- Custom css link -->
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header>
    <nav class="nav header">
      <div class="title">
        <h1>Weather App</h1>
      </div>
      <div class="nav-list">
        <ul>
          <li><a class="btn" href="">Home</a></li>
          <li><a class="btn" href="">About Me</a></li>
          <li><a class="btn" href="">Contact Me</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <div class="main row">
      <div class="heading col-lg-6">
        <h1 class="header-title">Welcome to the Weather App</h1>
        <p class="parag">Explore the current weather in different cities around the globe</p>
        <form action="/" method="post">
          <div class="mb-3">
            <!-- <label for="" class="form-label">Enter a city name</label> -->
            <input type="text" class="form-control input" name="city" id="" aria-describedby="helpId"
              placeholder="Enter a city name">
          </div>
          <button class="btn btn-dark" type="submit">Explore</button>
        </form>
      </div>
      <div class="weather-card col-lg-6">
        <div class="wcard" style="background-image: url(' images/<%=time%>.jpg');">
          <div class="wcard-header" style="color: <%=color%>;">
            <h1 class="name"><%= name %></h1>
            <p class="date"><%= date %> </p>
            <p class="current" id="time"></p>
          </div>
          <div class="wcard-body">
            <h1 class="temp"><%= temp %> °C</h1>
            <ul class="wdescription">
              <li><img class="wicon" src="https://openweathermap.org/img/wn/<%=icon%>@2x.png" alt=""></li>
              <li>
                <p><%= description %> </p>
              </li>
              <li>
                <p>H:<%= max %> ° L:<%= min %> °</p>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </main>
  <footer>
    <p>Made by <a href="https://github.com/akram-elgh">Akram-elgh</a></p>
    <p class="current-time" style="display: none;"><%= offset %></p>
  </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    function getTime() {
      var offset = $(".current-time").text();
      // create Date object for current location
      var d = new Date();
      console.log(d.getTime());

      // convert to msec
      // subtract local time zone offset
      // get UTC time in msec
      var utc = d.getTime() + (d.getTimezoneOffset() * 60000);
      console.log(utc);
      // create new Date object for different city
      // using supplied offset
      var nd = new Date(utc + (1000 * offset));
      console.log(nd);
      // return time as a string
      console.log(nd.toLocaleString());
      $("#time").text(nd.toLocaleString().slice(11));
    }
    setInterval(getTime, 1000);
  })
</script>

</html>